body {
    font-family: Arial, sans-serif;
    line-height: 11px;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.details {
    margin-top: 10px;
    margin-left: 20px;
}

h1, h2, h4 {
    color: #333;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 10px;
    color: #0066cc;
}

h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #9933FF;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

.documentacion, .herramientas, .practicas {
    margin-top: 10px;
    margin-left: 20px;
}

details {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

summary:hover {
    text-decoration: underline;
}

details a {
    display: block;
}
